body {
    margin: 0;
    padding: 0;
}

.title-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.title-container {
    position: relative;
    width: 100%;
}

.subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
    text-align: center;
}
